/ResearchPaper.class
/ResearchProject.class
/Researcher.class
/StudentResearcher.class
/TeacherResearcher.class
/DecoratorResearcher.class
/ResearcherDecorator.class
/PaperComparatorByDate.class
/PaperComparatorByCitations.class
