/Admin.class
/ApplicationManager.class
/CourseManager.class
/Employee.class
/FinanceManager.class
/Manager.class
/Student.class
/Teacher.class
/User.class
/Dean.class
/Teacher$1.class
/StudentView.class
